<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kashyap.hm14_putta">


    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".TitleActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.example.kashyap.hm14_putta.MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".PrefActivity"
            android:label="BugShmasher"
            android:enabled="true"
            android:parentActivityName="com.example.kashyap.hm14_putta.MainActivity"  >
            <intent-filter>
                <category android:name="android.intent.category.PREFERENCE" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.kashyap.hm14_putta.MainActivity" />
        </activity>

        <receiver android:name="com.example.kashyap.hm14_putta.IncomingCall">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>